{%  extends "base.html" %}

{% block content %}
<div class="container" >
        <div class="align-items-center" aria-colspan="18">
    		<table class="table-bordered">
                <thead>
                    <tr>
                      <th colspan="7">
                        <span class="">
                        	<a class="btn active">November 2019</a>
                        </span>
                      </th>
                    </tr>
                    <tr>
                        <th scope="col"> Su </th>
                        <th scope="col"> Mo </th>
                        <th scope="col"> Tu </th>
                        <th scope="col"> We </th>
                        <th scope="col"> Th </th>
                        <th scope="col"> Fr </th>
                        <th scope="col"> Sa </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-muted">29</td>
                        <td class="text-muted">30</td>
                        <td class="text-muted">31</td>
                        <td><a href="{{ url_for('appointment1',d=1) }}">1</a></td>
                        <td><a href="{{ url_for('appointment1',d=2) }}">2</a></td>
                        <td><a href="{{ url_for('appointment1',d=3) }}">3</a></td>
                        <td><a href="{{ url_for('appointment1',d=4) }}">4</a></td>
                    </tr>
                    <tr>
                        <td><a href="{{ url_for('appointment1',d=5) }}">5</a></td>
                        <td><a href="{{ url_for('appointment1',d=6) }}">6</a></td>
                        <td><a href="{{ url_for('appointment1',d=7) }}">7</a></td>
                        <td><a href="{{ url_for('appointment1',d=8) }}">8</a></td>
                        <td><a href="{{ url_for('appointment1',d=9) }}">9</a></td>
                        <td><a href="{{ url_for('appointment1',d=10) }}">10</a></td>
                        <td><a href="{{ url_for('appointment1',d=11) }}">11</a></td>
                    </tr>
                    <tr>
                        <td><a href="{{ url_for('appointment1',d=12) }}">12</a></td>
                        <td><a href="{{ url_for('appointment1',d=13) }}">13</a></td>
                        <td><a href="{{ url_for('appointment1',d=14) }}">14</a></td>
                        <td><a href="{{ url_for('appointment1',d=15) }}">15</a></td>
                        <td><a href="{{ url_for('appointment1',d=16) }}">16</a></td>
                        <td><a href="{{ url_for('appointment1',d=17) }}">17</a></td>
                        <td><a href="{{ url_for('appointment1',d=18) }}">18</a></td>
                    </tr>
                    <tr>
                        <td><a href="{{ url_for('appointment1',d=19) }}">19</a></td>
                        <td><a href="{{ url_for('appointment1',d=20) }}">20</a></td>
                        <td><a href="{{ url_for('appointment1',d=21) }}">21</a></td>
                        <td><a href="{{ url_for('appointment1',d=22) }}">22</a></td>
                        <td><a href="{{ url_for('appointment1',d=23) }}">23</a></td>
                        <td><a href="{{ url_for('appointment1',d=24) }}">24</a></td>
                        <td><a href="{{ url_for('appointment1',d=25) }}">25</a></td>
                    </tr>
                    <tr>
                        <td><a href="{{ url_for('appointment1',d=26) }}">26</a></td>
                        <td><a href="{{ url_for('appointment1',d=27) }}">27</a></td>
                        <td><a href="{{ url_for('appointment1',d=28) }}">28</a></td>
                        <td><a href="{{ url_for('appointment1',d=29) }}">29</a></td>
                        <td><a href="{{ url_for('appointment1',d=30) }}">30</a></td>
                        <td class="text-muted">1</td>
                        <td class="text-muted">2</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>
{% endblock %}