{%  extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Bill</h1>
    <div class="font-weight-bold">
    <label>Bill ID: {{ data[0] }}</label><br>
    <label>Appointment ID: {{ data[1] }}</label><br>
    <div class="text-left"><label class="text-left">Patient id: {{ data[4] }}</label></div><div class="text-right"><label>Doctor ID: {{ data[2] }}</label></div>
    <div class="text-left"><label class="text-left">Patient id: {{ data[5] }}</label></div><div class="text-right"><label class="text-right">Doctor ID: {{ data[3] }}</label></div>
    <div class="text-left"><label class="font-weight-bolder">Bill amount: {{ data [6] }}</label></div>
</div>
</div>
{% endblock %}